* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a23;
    color:#fff;
    height: 100vh;
}

.navbar {
    background: transparent;
    position: sticky;
    top:0;
    height: 7%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid silver;
}

.navbar a {
    margin:auto 20px;
    text-decoration: none;
    color:#fff;
    font-size:18px;
    font-weight:600;
}

.navbar .locations a {
    padding:auto 10px;
}

.login {
    position: relative;
    left: 35%;
}

.show-img {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show-img img {
    margin-top:10px;
}

.show-img p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* MEDIAS */    

@media (max-width: 575px) {
  .login {
    position: relative;
    left: 17%;
  }
  .locations {
    position: relative;
    left:5%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .login {
    position: relative;
    left: 20%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
    .login {
        position: relative;
        left: 25%;
    }
}

@media (min-width: 992px) {
    .login {
        position: relative;
        left: 35%;
    }
}