* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a23;
    color:#fff;
    height: 100vh;
}

.navbar {
    background: transparent;
    position: sticky;
    top:0;
    height: 7%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
}

.navbar a {
    margin:auto 20px;
    text-decoration: none;
    color:#fff;
    font-size:18px;
    font-weight:600;
}

.navbar .locations {
    position: relative;
    left: 28%;
}

.navbar .locations a {
    padding:auto 10px;
}

.login {
    position: relative;
    left: 35%;
}

.show-img {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid silver;
}

.show-img img {
    margin-top:10px;
    max-width:800px;
    width:100%;
}

.show-img p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.items {
    width:100%;
    height:50vh;
    background-color: green;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    padding:auto 10px;
}

.item-1 {
    background-color: blue;
    text-align: center;
}

.item-2 {
    background-color: red;
}

footer {
    width:100%;
    height:15vh;
    background-color: brown;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIAS */    

@media (max-width: 575px) {
  .login {
    position: relative;
    left: 17%;
  }
  .locations {
    position: relative;
    left:20%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .login {
        position: relative;
        left: 30%;
  }
    .locations {
        position: relative;
        left:20%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
    .login {
        position: relative;
        left: 30%;
    }
      .locations {
        position: relative;
        left:20%;
  }
}

@media (min-width: 992px) {
    .login {
        position: relative;
        left: 35%;
    }
}